.entrycard__container {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 1px 1px 6px -1px #000000b0;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.entrycard__actions--container {
  display: flex;
  justify-content: space-between;
}

.entrycard__buttons--container {
  display: flex;
  justify-content: space-between;
  width: 2.5rem;
  position: absolute;
  top: 0;
  right: 0.5rem;
}

.entrycard__text {
  white-space: pre-line;
  font-weight: bold;
  user-select: none;
  margin-right: 2rem;
  color: rgba(0, 0, 0, 0.7)
}

.entrycard__time {
  margin-top: 1.25rem;
  text-align: right;
  font-size: 0.7rem;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.entrycard__time svg {
  font-size: 0.9rem;
  color: rgba(22, 22, 22, 0.701);
  margin-right: 0.3rem;
}

.entrycard__button--edit {
  color: #072f84;
  width: 1rem;
}

.entrycard__button--delete {
  color: #910101;
  width: 1rem;
}

@media (min-width: 768px) {
  .entrycard__container {
    min-width: 22rem;
    max-width: 22rem;
    width: 22rem;
  }
}